In [10]:
import pandas as pd
import yfinance as yf
import datetime as dt

# list of assets (updated with our chosen assets):
my_tickers = ['CRM', 'HPE', 'DELL', 'F', 'TSLA', 'WMT', 'TGT']


# Assign a start date and end date for the data download, 1 year of data
start_date = dt.datetime.today() - pd.Timedelta(3650, "d")
end_date = dt.datetime.today()

In [11]:
## Now download the data using the above variables, my_port is short for my portfolio
my_port = yf.download(start=start_date, end=end_date, tickers=my_tickers)

c:\Users\samue\AppData\Local\Programs\Python\Python311\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[                       0%%                      ]c:\Users\samue\AppData\Local\Programs\Python\Python311\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[**************        29%%                      ]  2 of 7 completedc:\Users\samue\AppData\Local\Programs\Python\Python311\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
c:\Users\samue\AppData\Local\Programs\Python\Python311\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
c:\Users\samue\AppData\Local\Programs\Python\Python311\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
c:\Users\samue\AppData\Local\Programs\Python\Python311\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[**********************57%%*                     ]  4 of 7 completedc:\Users\samue\AppData\Local\Programs\Python\Python311\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[*********************100%%**********************]  7 of 7 completed

In [12]:
## And review the data:
my_port.head()

Price       Adj Close                                                      \
Ticker            CRM DELL         F HPE        TGT       TSLA        WMT
Date
2014-02-25  63.660000  NaN  9.192059 NaN  42.533558  16.533333  59.284809
2014-02-26  63.740002  NaN  9.258799 NaN  45.529217  16.866667  60.440613
2014-02-27  66.220001  NaN  9.337673 NaN  45.657162  16.836000  60.262768
2014-02-28  62.369999  NaN  9.337673 NaN  47.072189  16.320667  60.375935
2014-03-03  61.490002  NaN  9.222394 NaN  46.635639  16.704000  59.907150

Price           Close              ...       Open                        \
Ticker            CRM DELL      F  ...        TGT       TSLA        WMT
Date                               ...
2014-02-25  63.660000  NaN  15.15  ...  55.959999  15.333333  73.180000
2014-02-26  63.740002  NaN  15.26  ...  58.580002  17.238667  73.940002
2014-02-27  66.220001  NaN  15.39  ...  60.419998  17.416668  74.779999
2014-02-28  62.369999  NaN  15.39  ...  60.610001  16.643333  74.480003
2014-03-03  61.490002  NaN  15.20  ...  61.939999  15.817333  74.489998

Price           Volume
Ticker             CRM DELL           F HPE       TGT         TSLA        WMT
Date
2014-02-25   4895500.0  NaN  26401400.0 NaN   8030600  490225500.0  9482700.0
2014-02-26   7285700.0  NaN  34682200.0 NaN  24180800  369069000.0  9022200.0
2014-02-27   9345800.0  NaN  25727700.0 NaN   9453700  269187000.0  5448200.0
2014-02-28  18892500.0  NaN  35687900.0 NaN  14246300  218847000.0  7444600.0
2014-03-03   9303400.0  NaN  42824000.0 NaN   6813300  196339500.0  5347600.0

[5 rows x 42 columns]

In [13]:
## We may only need one index of the multi-index that was returned (Adj Close)
my_port = my_port['Adj Close']

my_port.head()

Ticker            CRM  DELL         F  HPE        TGT       TSLA        WMT
Date
2014-02-25  63.660000   NaN  9.192059  NaN  42.533558  16.533333  59.284809
2014-02-26  63.740002   NaN  9.258799  NaN  45.529217  16.866667  60.440613
2014-02-27  66.220001   NaN  9.337673  NaN  45.657162  16.836000  60.262768
2014-02-28  62.369999   NaN  9.337673  NaN  47.072189  16.320667  60.375935
2014-03-03  61.490002   NaN  9.222394  NaN  46.635639  16.704000  59.907150

In [14]:
import pandas as pd

my_port_table = pd.DataFrame(index = my_tickers)

In [33]:
## Calculation for 1a. and 1b. in the 1st project. Column of the tickers and portfolio weights.

port_weight = [1/len(my_tickers)] * len(my_tickers)
my_port_table['Portfolio_Weight'] = port_weight

my_port_table

      Portfolio_Weight
CRM           0.142857
HPE           0.142857
DELL          0.142857
F             0.142857
TSLA          0.142857
WMT           0.142857
TGT           0.142857

In [30]:
## Calculation for 1c. in the 1st project. This is where I am at.

## Function to fetch stock prices.
def get_stock_prices(my_tickers, start_date, end_date):
    my_port['Adj Close']
    return my_port

## This is a multi-line comment of code that the function above is based on, but I already defined the variables for the tickers and dates.

'''
# List of stock tickers
stock_tickers = ['AAPL', 'GOOGL', 'MSFT', 'AMZN', 'FB', 'TSLA', 'NFLX']

# Define the time period
start_date = '2023-01-01'
end_date = '2024-01-01'
'''

# Fetch stock prices. 
prices = get_stock_prices(my_tickers, start_date, end_date)

'''
# Calculate trailing 3-month returns
returns_3months = prices.pct_change().rolling(window=63).sum().dropna()

# Calculate annualized volatility directly
volatility = returns_3months.std() * (252 ** 0.5)  # Assuming 252 trading days in a year
'''

KeyError: 'Adj Close'

In [27]:
## This is a multi-line comment of another way that I tried to do 1c. before.
'''

## Calculation for 1c. in the 1st project
## First calculate daily returns for each stock with a for loop

## Loop through each stock symbol and download data
for symbol in my_tickers:
    stock_data = yf.download(symbol, start=start_date, end=end_date)
    stock_data['Daily_Return'] = stock_data['Adj Close'].pct_change()
    stock_data = stock_data.dropna()
    
    ## Combine data for all stocks
    all_stock_data = pd.concat([all_stock_data, stock_data['Daily_Return']], axis=1)

## Rename columns with stock symbols
all_stock_data.columns = stock_symbols

'''

"\n\n## Calculation for 1c. in the 1st project\n## First calculate daily returns for each stock with a for loop\n\n## Loop through each stock symbol and download data\nfor symbol in my_tickers:\n    stock_data = yf.download(symbol, start=start_date, end=end_date)\n    stock_data['Daily_Return'] = stock_data['Adj Close'].pct_change()\n    stock_data = stock_data.dropna()\n    \n    ## Combine data for all stocks\n    all_stock_data = pd.concat([all_stock_data, stock_data['Daily_Return']], axis=1)\n\n## Rename columns with stock symbols\nall_stock_data.columns = stock_symbols\n\n"

In [28]:
## This is a multi-line comment of another way that I tried to do 1c. before.
'''
## Calculation for 1c. in the 1st project

## Fist calculate daily returns
d_returns = my_port.pct_change()

## Then calculate portfolio returns
port_values = (my_port * port_weight).sum(axis=1)


port_returns = port_values.pct_change()


cumulative_return = (1 + port_returns).cumprod() - 1


rolling_volatility = port_returns.rolling(window=63).std()


annualized_volatility = rolling_volatility.std() * (252 ** 0.5)

'''

'\n## Calculation for 1c. in the 1st project\n\n## Fist calculate daily returns\nd_returns = my_port.pct_change()\n\n## Then calculate portfolio returns\nport_values = (my_port * port_weight).sum(axis=1)\n\n\nport_returns = port_values.pct_change()\n\n\ncumulative_return = (1 + port_returns).cumprod() - 1\n\n\nrolling_volatility = port_returns.rolling(window=63).std()\n\n\nannualized_volatility = rolling_volatility.std() * (252 ** 0.5)\n\n'

In [18]:
'''
Then calculate standard deviation of portfolio returns for trailing 3 months
rolling_volatility = portfolio_returns.rolling(window=63).std()

Then annualize the standard deviation
annualized_volatility = rolling_volatility.std() * (252 ** 0.5)  # Assuming 252 trading days in a year

my_port_table['Annualized Volatility'] = annualized_volatility

my_port_table 

'''

"\nThen calculate standard deviation of portfolio returns for trailing 3 months\nrolling_volatility = portfolio_returns.rolling(window=63).std()\n\nThen annualize the standard deviation\nannualized_volatility = rolling_volatility.std() * (252 ** 0.5)  # Assuming 252 trading days in a year\n\nmy_port_table['Annualized Volatility'] = annualized_volatility\n\nmy_port_table \n\n"