In [1]:
import pandas as pd
import yfinance as yf
import datetime as dt

# list of assets (updated with our chosen assets):
# Companies: Salesforce, HP, Lenovo, Ford, Tesla, Walmart, Target 
my_tickers = ['CRM', 'HPQ', 'LNVGY', 'F', 'TSLA', 'WMT', 'TGT']


# Assign a start date and end date for the data download, 1 year of data
start_date = dt.datetime.today() - pd.Timedelta(400, "d")
end_date = dt.datetime.today()

In [2]:
## Now download the data using the above variables, my_port is short for my portfolio
my_port = yf.download(start=start_date, end=end_date, tickers=my_tickers)

c:\Users\samue\AppData\Local\Programs\Python\Python311\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[                       0%%                      ]c:\Users\samue\AppData\Local\Programs\Python\Python311\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[**************        29%%                      ]  2 of 7 completedc:\Users\samue\AppData\Local\Programs\Python\Python311\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
c:\Users\samue\AppData\Local\Programs\Python\Python311\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[********************* 43%%                      ]  3 of 7 completedc:\Users\samue\AppData\Local\Programs\Python\Python311\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[**********************57%%*                     ]  4 of 7 completedc:\Users\samue\AppData\Local\Programs\Python\Python311\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[**********************71%%********              ]  5 of 7 completedc:\Users\samue\AppData\Local\Programs\Python\Python311\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[*********************100%%**********************]  7 of 7 completed

In [3]:
## And review the data:
my_port.head()

Price        Adj Close                                               \
Ticker             CRM          F        HPQ      LNVGY         TGT
Date
2023-01-25  156.169998  11.270549  27.675749  15.374947  157.894424
2023-01-26  165.089996  11.385105  27.984436  15.729165  160.605972
2023-01-27  164.520004  11.693525  28.196659  15.365374  162.029037
2023-01-30  164.750000  11.358669  27.801153  15.126039  162.192505
2023-01-31  167.970001  11.905013  28.109840  15.346228  165.519424

Price                                   Close                    ...  \
Ticker            TSLA        WMT         CRM      F        HPQ  ...
Date                                                             ...
2023-01-25  144.429993  46.733845  156.169998  12.79  28.690001  ...
2023-01-26  160.270004  46.691162  165.089996  12.92  29.010000  ...
2023-01-27  177.899994  47.049042  164.520004  13.27  29.230000  ...
2023-01-30  166.660004  46.671455  164.750000  12.89  28.820000  ...
2023-01-31  173.220001  47.236183  167.970001  13.51  29.139999  ...

Price             Open                           Volume                     \
Ticker             TGT        TSLA        WMT       CRM         F      HPQ
Date
2023-01-25  162.500000  141.910004  47.413334   9390500  37739000  4646300
2023-01-26  165.699997  159.970001  47.676666  13354600  48970900  4220400
2023-01-27  168.000000  162.429993  47.533333   9872300  62114600  6954500
2023-01-30  167.000000  178.050003  47.373333   8169800  64512600  4727800
2023-01-31  168.119995  164.570007  47.439999   6421300  83093300  5884100

Price
Ticker      LNVGY      TGT       TSLA       WMT
Date
2023-01-25  26800  2248200  192734300  12491700
2023-01-26  10200  2079100  234815100  15819000
2023-01-27  18900  3850300  306590600  18412800
2023-01-30  18700  3453500  230878800  15897600
2023-01-31  34300  3716000  196813500  14103600

[5 rows x 42 columns]

In [4]:
## We may only need one index of the multi-index that was returned (Adj Close)
my_port = my_port['Adj Close']

my_port.head()

Ticker,CRM,F,HPQ,LNVGY,TGT,TSLA,WMT
Date,,,,,,,
2023-01-25,156.169998,11.270549,27.675749,15.374947,157.894424,144.429993,46.733845
2023-01-26,165.089996,11.385105,27.984436,15.729165,160.605972,160.270004,46.691162
2023-01-27,164.520004,11.693525,28.196659,15.365374,162.029037,177.899994,47.049042
2023-01-30,164.750000,11.358669,27.801153,15.126039,162.192505,166.660004,46.671455
2023-01-31,167.970001,11.905013,28.109840,15.346228,165.519424,173.220001,47.236183

In [5]:

my_port_table = pd.DataFrame(index = my_tickers)

In [6]:
## Calculation for 1a. and 1b. in the 1st project. Column of the tickers and portfolio weights.

port_weight = [1/len(my_tickers)] * len(my_tickers)
my_port_table['Portfolio_Weight'] = port_weight

my_port_table

       Portfolio_Weight
CRM            0.142857
HPQ            0.142857
LNVGY          0.142857
F              0.142857
TSLA           0.142857
WMT            0.142857
TGT            0.142857

In [7]:
## Calculation for 1c. 
def get_stock_prices(my_tickers, start_date, end_date):
    my_port
    return my_port

stock_prices = get_stock_prices(my_tickers, start_date, end_date)
returns_3months = stock_prices.pct_change().rolling(window=63).sum().dropna()
volatility = returns_3months.std() * (252 ** 0.5)
result_df = pd.DataFrame({'Ticker': my_tickers, 'Volatility': volatility})

print(result_df)

       Ticker  Volatility
Ticker
CRM       CRM    2.039704
F         HPQ    2.297454
HPQ     LNVGY    1.741542
LNVGY       F    1.883651
TGT      TSLA    2.926316
TSLA      WMT    3.404646
WMT       TGT    0.698699

In [8]:
my_port_table['Annualized Volatility'] = volatility
my_port_table

       Portfolio_Weight  Annualized Volatility
CRM            0.142857               2.039704
HPQ            0.142857               1.741542
LNVGY          0.142857               1.883651
F              0.142857               2.297454
TSLA           0.142857               3.404646
WMT            0.142857               0.698699
TGT            0.142857               2.926316

In [9]:
## Calculation for 1d.

## First download Adjusted Close Price data for S&P 500 ETF
spy = yf.download(start=start_date, end=end_date, tickers='SPY')
spy = spy['Adj Close']

## Combine portfolio and SPY data into a single DataFrame
my_port_and_spy_data = pd.concat([my_port, spy], axis=1)
my_port_and_spy_data.columns = my_tickers + ['SPY']

## Calculate daily returns
my_port_and_spy__d_returns = my_port_and_spy_data.pct_change().dropna()

## Calculate covariance matrix
my_port_and_spy_cov_matrix = my_port_and_spy__d_returns.cov()

## Extract covariances with SPY
cov_with_spy = my_port_and_spy_cov_matrix['SPY'].drop('SPY')

## Calculate SPY variance
spy_variance = my_port_and_spy_cov_matrix.loc['SPY', 'SPY']

# Calculate beta
betas_spy = cov_with_spy / spy_variance

spy_beta_table = pd.DataFrame({'Tickers': my_tickers, 'Beta': betas_spy})
print(spy_beta_table)


'''
## Then calculate the daily returns of portfolio and S&P 500 ETF
my_port_d_returns = prices.pct_change().dropna()
spy_d_returns = spy.pct_change().dropna()

covariances = my_port_d_returns.covwith(spy_d_returns)
'''

c:\Users\samue\AppData\Local\Programs\Python\Python311\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[*********************100%%**********************]  1 of 1 completed

      Tickers      Beta
CRM       CRM  1.250300
HPQ       HPQ  1.408215
LNVGY   LNVGY  1.012061
F           F  0.618409
TSLA     TSLA  0.900652
WMT       WMT  2.091362
TGT       TGT  0.325339

'\n## Then calculate the daily returns of portfolio and S&P 500 ETF\nmy_port_d_returns = prices.pct_change().dropna()\nspy_d_returns = spy.pct_change().dropna()\n\ncovariances = my_port_d_returns.covwith(spy_d_returns)\n'

In [10]:
## Resulting table after calculating 1d. 
my_port_table['Beta against SPY'] = betas_spy
my_port_table

       Portfolio_Weight  Annualized Volatility  Beta against SPY
CRM            0.142857               2.039704          1.250300
HPQ            0.142857               1.741542          1.408215
LNVGY          0.142857               1.883651          1.012061
F              0.142857               2.297454          0.618409
TSLA           0.142857               3.404646          0.900652
WMT            0.142857               0.698699          2.091362
TGT            0.142857               2.926316          0.325339

In [11]:
## Calculation for 1e.

## First download Adjusted Close Price data for S&P 500 ETF
iwm = yf.download(start=start_date, end=end_date, tickers='IWM')
iwm = iwm['Adj Close']

## Combine portfolio and IWM data into a single DataFrame
my_port_and_iwm_data = pd.concat([my_port, iwm], axis=1)
my_port_and_iwm_data.columns = my_tickers + ['IWM']

## Calculate daily returns
my_port_and_iwm__d_returns = my_port_and_iwm_data.pct_change().dropna()

## Calculate covariance matrix
my_port_and_iwm_cov_matrix = my_port_and_iwm__d_returns.cov()

## Extract covariances with IWM
cov_with_iwm = my_port_and_iwm_cov_matrix['IWM'].drop('IWM')

## Calculate IWM variance
iwm_variance = my_port_and_iwm_cov_matrix.loc['IWM', 'IWM']

# Calculate beta
betas_iwm = cov_with_iwm / iwm_variance

c:\Users\samue\AppData\Local\Programs\Python\Python311\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[*********************100%%**********************]  1 of 1 completed

In [12]:
## Resulting table after calculating 1e.
my_port_table['Beta against IWM'] = betas_iwm
my_port_table

,Portfolio_Weight,Annualized Volatility,Beta against SPY,Beta against IWM
CRM,0.142857,2.039704,1.250300,0.552813
HPQ,0.142857,1.741542,1.408215,0.975392
LNVGY,0.142857,1.883651,1.012061,0.620208
F,0.142857,2.297454,0.618409,0.505193
TSLA,0.142857,3.404646,0.900652,0.643310
WMT,0.142857,0.698699,2.091362,1.097410
TGT,0.142857,2.926316,0.325339,0.141167

In [13]:
## Calculation for 1f.

## First download Adjusted Close Price data for DIA
dia = yf.download(start=start_date, end=end_date, tickers='DIA')
dia = dia['Adj Close']

## Combine portfolio and DIA data into a single DataFrame
my_port_and_dia_data = pd.concat([my_port, dia], axis=1)
my_port_and_dia_data.columns = my_tickers + ['DIA']

## Calculate daily returns
my_port_and_dia__d_returns = my_port_and_dia_data.pct_change().dropna()

## Calculate covariance matrix
my_port_and_dia_cov_matrix = my_port_and_dia__d_returns.cov()

## Extract covariances with IWM
cov_with_dia = my_port_and_dia_cov_matrix['DIA'].drop('DIA')

## Calculate DIA variance
dia_variance = my_port_and_dia_cov_matrix.loc['DIA', 'DIA']

# Calculate beta
betas_dia = cov_with_dia / dia_variance

c:\Users\samue\AppData\Local\Programs\Python\Python311\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[*********************100%%**********************]  1 of 1 completed

In [14]:
## Resulting table after calculating 1f.
my_port_table['Beta against DIA'] = betas_dia
my_port_table

,Portfolio_Weight,Annualized Volatility,Beta against SPY,Beta against IWM,Beta against DIA
CRM,0.142857,2.039704,1.250300,0.552813,1.295169
HPQ,0.142857,1.741542,1.408215,0.975392,1.689595
LNVGY,0.142857,1.883651,1.012061,0.620208,1.124060
F,0.142857,2.297454,0.618409,0.505193,0.663701
TSLA,0.142857,3.404646,0.900652,0.643310,1.207258
WMT,0.142857,0.698699,2.091362,1.097410,1.819381
TGT,0.142857,2.926316,0.325339,0.141167,0.459836

In [15]:
## Calculation of 1g., Average Weekly Drawdown, (52-week Low minus 52-week High) / 52-week High

av_w_drawdown = (my_port.rolling(5).max() - my_port.rolling(5).min()).mean() 

my_port_table['Average Weekly Drawdown'] = av_w_drawdown 
my_port_table

,Portfolio_Weight,Annualized Volatility,Beta against SPY,Beta against IWM,Beta against DIA,Average Weekly Drawdown
CRM,0.142857,2.039704,1.250300,0.552813,1.295169,7.962474
HPQ,0.142857,1.741542,1.408215,0.975392,1.689595,0.937134
LNVGY,0.142857,1.883651,1.012061,0.620208,1.124060,1.179952
F,0.142857,2.297454,0.618409,0.505193,0.663701,0.527098
TSLA,0.142857,3.404646,0.900652,0.643310,1.207258,14.956015
WMT,0.142857,0.698699,2.091362,1.097410,1.819381,1.010673
TGT,0.142857,2.926316,0.325339,0.141167,0.459836,4.895859

In [16]:
'''
## Calculation of 1g., Average Weekly Drawdown, (52-week Low minus 52-week High) / 52-week High

## First, calculate the 52 week low.

# Create an empty DataFrame to store the data
my_port_table = pd.DataFrame()


# Fetch historical data for each stock
for ticker in my_tickers:
    stock = yf.Ticker(ticker)
    historical_data = stock.history(period='1y')  # Fetch 1-year historical data
    my_port_table[ticker] = historical_data['Low']

# Calculate the 52-week low for each stock
my_port_table['52-week Low'] = my_port_table.min(axis=1)

print(my_port_table[['52-week Low']])
'''

"\n## Calculation of 1g., Average Weekly Drawdown, (52-week Low minus 52-week High) / 52-week High\n\n## First, calculate the 52 week low.\n\n# Create an empty DataFrame to store the data\nmy_port_table = pd.DataFrame()\n\n\n# Fetch historical data for each stock\nfor ticker in my_tickers:\n    stock = yf.Ticker(ticker)\n    historical_data = stock.history(period='1y')  # Fetch 1-year historical data\n    my_port_table[ticker] = historical_data['Low']\n\n# Calculate the 52-week low for each stock\nmy_port_table['52-week Low'] = my_port_table.min(axis=1)\n\nprint(my_port_table[['52-week Low']])\n"

In [17]:

'''
## Then calculate 52-week high 
# Fetch historical data for each stock
for ticker in my_tickers:
    stock = yf.Ticker(ticker)
    historical_data = stock.history(period='1y')  # Fetch 1-year historical data
    my_port_table[ticker] = historical_data['High']

# Calculate the 52-week low for each stock
my_port_table['52-week High'] = my_port_table.max(axis=1)
'''

"\n## Then calculate 52-week high \n# Fetch historical data for each stock\nfor ticker in my_tickers:\n    stock = yf.Ticker(ticker)\n    historical_data = stock.history(period='1y')  # Fetch 1-year historical data\n    my_port_table[ticker] = historical_data['High']\n\n# Calculate the 52-week low for each stock\nmy_port_table['52-week High'] = my_port_table.max(axis=1)\n"

In [18]:
'''
## Now calculate the Average Weekly Drawdown, (52-week Low minus 52-week High) / 52-week High
av__w_drawdown = ((my_port_table['52-week Low'] - my_port_table['52-week High']) / my_port_table['52-week High']) * 100
'''

"\n## Now calculate the Average Weekly Drawdown, (52-week Low minus 52-week High) / 52-week High\nav__w_drawdown = ((my_port_table['52-week Low'] - my_port_table['52-week High']) / my_port_table['52-week High']) * 100\n"

In [19]:
'''
my_port_table = pd.DataFrame(av__w_drawdown, columns=['Average Weekly Drawdown'], index=my_tickers)
my_port_table
'''

"\nmy_port_table = pd.DataFrame(av__w_drawdown, columns=['Average Weekly Drawdown'], index=my_tickers)\nmy_port_table\n"

In [20]:
## Calculation of 2a. and 2b.
'''
# Assuming you have two sets of data representing the ETF and another asset/index

etf_tickers = ['SPY','DIA','IWM']

etf_data = yf.download (start=start_date,end=end_date,tickers=etf_tickers )

etf_data =  etf_data['Adj Close']

def get_etf_prices(etf_tickers,start_date,end_date):
  etf_data
  return etf_data

etf_prices = get_etf_prices(etf_tickers,start_date,end_date)



# Create a DataFrame with the data
all_tickers = my_tickers.extend(etf_tickers)

port_and_etf_data = {'ETF': etf_prices, 'Stock Prices': stock_prices}

etf_table = pd.DataFrame(port_and_etf_data).set_index('{Port_and_Etf_Tickers')


etf_table = pd.DataFrame(etf_data, columns= ['ETF Adj Close Prices'], index=etf_tickers)
etf_table
'''

"\n# Assuming you have two sets of data representing the ETF and another asset/index\n\netf_tickers = ['SPY','DIA','IWM']\n\netf_data = yf.download (start=start_date,end=end_date,tickers=etf_tickers )\n\netf_data =  etf_data['Adj Close']\n\ndef get_etf_prices(etf_tickers,start_date,end_date):\n  etf_data\n  return etf_data\n\netf_prices = get_etf_prices(etf_tickers,start_date,end_date)\n\n\n\n# Create a DataFrame with the data\nall_tickers = my_tickers.extend(etf_tickers)\n\nport_and_etf_data = {'ETF': etf_prices, 'Stock Prices': stock_prices}\n\netf_table = pd.DataFrame(port_and_etf_data).set_index('{Port_and_Etf_Tickers')\n\n\netf_table = pd.DataFrame(etf_data, columns= ['ETF Adj Close Prices'], index=etf_tickers)\netf_table\n"

In [21]:

## Calculation for 3
'''
ETF_tickers = ['SPY', 'IWM', 'DIA']
ETF_data = yf.download(start=start_date, end=end_date, tickers=ETF_tickers)
ETF_data.head()
ETF_data = ETF_data['Adj Close']
ETF_data.head()

Port_and_ETF_data = {
    'portfolio data': my_port,
     'ETF data': ETF_data
}

All_Tickers = my_tickers.extend(ETF_tickers)
print(All_Tickers)

'''

"\nETF_tickers = ['SPY', 'IWM', 'DIA']\nETF_data = yf.download(start=start_date, end=end_date, tickers=ETF_tickers)\nETF_data.head()\nETF_data = ETF_data['Adj Close']\nETF_data.head()\n\nPort_and_ETF_data = {\n    'portfolio data': my_port,\n     'ETF data': ETF_data\n}\n\nAll_Tickers = my_tickers.extend(ETF_tickers)\nprint(All_Tickers)\n\n"

In [22]:
'''
Port_and_ETF_table = pd.DataFrame(Port_and_ETF_data)
ETF_table = pd.DataFrame(ETF_data,columns=['Adj Close'], index=ETF_tickers)
ETF_table
'''

"\nPort_and_ETF_table = pd.DataFrame(Port_and_ETF_data)\nETF_table = pd.DataFrame(ETF_data,columns=['Adj Close'], index=ETF_tickers)\nETF_table\n"